/Temp
/Library
/Logs
/*.csproj
/*.sln
/*.vsconfig
/obj
/*.vsidx
/.vs
/HotFix/HotFix/.vs
/Assets/StreamingAssets
/AssetBundle
/Hot
/HotFix/HotFix/bin
/HotFix/HotFix/obj
/HotFix/HotFix/HotFix.csproj
/Assets/RealFram/Editor/Config/DataEditor.cs
/Version
/Assets/GameData/Data/HotFix
/Assets/GameData/Data/ABData
/Assets/AssetbundleConfig.xml
/Assets/Resources/ABMD5.bytes
/UserSettings/EditorUserSettings.asset
/Assets/RealFram/Editor/DataEditor.cs
/Assets/RealFram/Editor/DataEditor.cs.meta
/Assets/RealFram/Editor/Config/DataEditor.cs.meta
